<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" id="link-home" href="/">
        <img src="/image/home.png" alt="Pagina Inicial">
        <label>Pergunta Dev</label>
    </a>
</nav>